@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Volvo Trucks</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            This application was created using .Net Core, Entity Framework and ASP.NET Core MVC web application.
        </p>
        <p>
            <address>
                <strong>Contact:</strong><br />
                Lessandro Marcelo Lucca<br />
                Curitiba, PR, Brazil, 2022<br />
                <a href="mailto:lessandro.lucca@yahoo.com.br">lessandro.lucca@yahoo.com.br</a><br />
            </address>
        </p>
    </div>
</div>
